@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Component1 />

<DieComponent MaxValue="20" ImagePath="d20.svg"/>

<SurveyPrompt Title="How is Blazor working for you?" />
