@using System.Text
@inject CommonJsInterop CommonJs

<div class="my-component">
    This component is defined in the <strong>Artisan.CommonComponents</strong> library.

    <InputText @bind-Value="@Content"/>
    <button @onclick="@DownloadAsync">СКАЧАТЬ</button>
</div>

@code
{
    private string Content { get; set; } = string.Empty;

    private async Task DownloadAsync()
    {
        Stream fileContent = new MemoryStream(Encoding.UTF8.GetBytes(Content));

        await CommonJs.DownloadFileAsync(fileContent, "content.txt");
    }
}
