@page "/dice"

<PageTitle>Dice</PageTitle>

<div class="dice">
    <DieComponent MaxValue="3" ImagePath="./_content/Artisan.Pages.DiceThrower/dice-d6.svg"></DieComponent>
    <DieComponent MaxValue="4" ImagePath="./_content/Artisan.Pages.DiceThrower/dice-d4.svg"></DieComponent>
    <DieComponent MaxValue="6" ImagePath="./_content/Artisan.Pages.DiceThrower/dice-d6.svg"></DieComponent>
    <DieComponent MaxValue="8" ImagePath="./_content/Artisan.Pages.DiceThrower/dice-d8.svg"></DieComponent>
    <DieComponent MaxValue="10" ImagePath="./_content/Artisan.Pages.DiceThrower/dice-d10.svg"></DieComponent>
    <DieComponent MaxValue="12" ImagePath="./_content/Artisan.Pages.DiceThrower/dice-d12.svg"></DieComponent>
    <DieComponent MaxValue="20" ImagePath="./_content/Artisan.Pages.DiceThrower/dice-d20.svg"></DieComponent>
    <DieComponent MaxValue="100" ImagePath="./_content/Artisan.Pages.DiceThrower/dice-d10.svg"></DieComponent>
</div>

@code {
    
}