@using Microsoft.VisualBasic
@inject JsInterop Js

<div>
    <img src="@ImagePath" alt=@($"1d{MaxValue}")/>
    <input type="number" min="1" max="65536" step="1" @bind="@DiceCount" />
    <button @onclick="@AlertResultAsync">Бросить!</button>
</div>

@code {

    private ushort DiceCount { get; set; } = 1;
    [Parameter]
    public string? ImagePath { get; set; }
    [Parameter]
    public int MaxValue { get; set; }

    private async Task AlertResultAsync()
    {
        int throwResult = Enumerable.Range(1, DiceCount).Select(_ => Random.Shared.Next(MaxValue + 1)).Sum();
        string result = $"Ваш результат {DiceCount}d{MaxValue} [{DiceCount}-{DiceCount * MaxValue}] : {throwResult}";
        
        await Js.AlertAsync(result);
    }
}